/*Home*/
#home{
    height:820px;
}

.headings{
   font-size:1.7rem;
}

/*About*/
#pic img{
   width:200px;
   height:200px;
   position:relative;
   left:30%;
}

#pic h2{
   font-size:1.5rem;
   left:auto;
}

/*Location*/
#location p{
    text-align:center;
}

#location iframe{
   width:200px;
   height:200px;
   position:sticky;
   left:20%;
}
 
/*Video*/
#video p{
   position:inherit;
}

#video iframe{
  position:relative;
  width:250px;
  height:250px;
  left:20%;
}

/*Contact*/
.input{
    width:80%;
}

#msg{
   width:70%;
}

#send{
   width:20%;
}









     
