/*Home*/
#home{
    height:820px;
}

.headings{
   font-size:1.7rem;
}

/*About*/
#pic img{
   width:300px;
   height:175px;
}

#intro h2{
   font-size:1.5rem;
}

/*Location*/
p{
    text-align:center;
}

iframe{
   width:200px;
   height:200px;
   position:relative;
   left:20%;
}
 
/*Video*/
p{
    text-align:center;
}

iframe{
  position:relative;
  width:100px;
  height:100px;
  left:20%;
}

/*Contact*/
.input{
    width:80%;
}

#msg{
   width:70%;
}

#send{
   width:20%;
}










     
